@model SocketListViewModel

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption text-center">
            <h3>
                <a asp-controller="Socket" asp-action="Edit" asp-route-id="@Model.SocketId">@Model.Name</a>
            </h3>
            <button type="button" class="btn btn-lg btn-toggle" data-toggle="button" aria-pressed="false" autocomplete="off">
                <div class="handle"></div>
            </button>
            <hr />
            @*<img src="/images/socket.png" alt="" width="200">*@
            <div class='btn-group'>
                <a class="btn btn-primary" asp-controller="Socket" asp-action="Edit" asp-route-id="@Model.SocketId"><i class="fa fa-cog"></i> Configure</a>
                <a class="btn btn-danger" asp-controller="Socket" asp-action="Delete" asp-route-id="@Model.SocketId"><i class="fa fa-trash-o"></i> Delete</a>
                <a class="btn btn-success" asp-controller="TimeTask" asp-action="Index" asp-route-id="@Model.SocketId"><i class="fa fa-clock-o"></i> Tasks</a>
            </div>
        </div>
    </div>
</div>