@model SocketListViewModel

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="caption text-center">
            <h3>
                <span id="icon_@Model.DeviceId" class="fa-stack">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-power-off fa-stack-1x fa-inverse"></i>
                </span>
                @Model.Name
            </h3>
            <button id="@Model.DeviceId" type="button" class="btn btn-lg btn-toggle disabled" data-toggle="" aria-pressed="false" autocomplete="off">
                <div class="handle"></div>
            </button>
            <hr />
            <div class='btn-group'>
                <a class="btn btn-primary" asp-controller="Socket" asp-action="Edit" asp-route-id="@Model.SocketId"><i class="fa fa-cog"></i> Configure</a>
                <a class="btn btn-danger" asp-controller="Socket" asp-action="Delete" asp-route-id="@Model.SocketId"><i class="fa fa-trash-o"></i> Delete</a>
                <a class="btn btn-success" asp-route="TimeTask" asp-route-id="@Model.SocketId"><i class="fa fa-clock-o"></i> Tasks</a>
            </div>
        </div>
    </div>
</div>